In [1]:
import pandas as pd 
reviews = pd.read_csv("IMDB Dataset.csv")
reviews.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [3]:
reviews['review'][1]

'A wonderful little production. <br /><br />The filming technique is very unassuming- very old-time-BBC fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece. <br /><br />The actors are extremely well chosen- Michael Sheen not only "has got all the polari" but he has all the voices down pat too! You can truly see the seamless editing guided by the references to Williams\' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece. A masterful production about one of the great master\'s of comedy and his life. <br /><br />The realism really comes home with the little things: the fantasy of the guard which, rather than use the traditional \'dream\' techniques remains solid then disappears. It plays on our knowledge and our senses, particularly with the scenes concerning Orton and Halliwell and the sets (particularly of their flat with Halliwell\'s murals decorating every surface) are terribly well done.'

In [4]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [6]:
reviews.duplicated().sum()

np.int64(418)

In [7]:
reviews = reviews.drop_duplicates()

In [8]:
reviews

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[49582 rows x 2 columns]

In [23]:
reviews = reviews.copy()
reviews['review'] = reviews['review'].str.lower()
reviews.head()
reviews['review'][1]

'a wonderful little production. <br /><br />the filming technique is very unassuming- very old-time-bbc fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece. <br /><br />the actors are extremely well chosen- michael sheen not only "has got all the polari" but he has all the voices down pat too! you can truly see the seamless editing guided by the references to williams\' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece. a masterful production about one of the great master\'s of comedy and his life. <br /><br />the realism really comes home with the little things: the fantasy of the guard which, rather than use the traditional \'dream\' techniques remains solid then disappears. it plays on our knowledge and our senses, particularly with the scenes concerning orton and halliwell and the sets (particularly of their flat with halliwell\'s murals decorating every surface) are terribly well done.'

In [24]:
reviews = reviews.copy()
reviews['review'] = reviews['review'].str.replace(r'<.*?>', '', regex=True)
reviews.head(1)
reviews['review'][1]

'a wonderful little production. the filming technique is very unassuming- very old-time-bbc fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece. the actors are extremely well chosen- michael sheen not only "has got all the polari" but he has all the voices down pat too! you can truly see the seamless editing guided by the references to williams\' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece. a masterful production about one of the great master\'s of comedy and his life. the realism really comes home with the little things: the fantasy of the guard which, rather than use the traditional \'dream\' techniques remains solid then disappears. it plays on our knowledge and our senses, particularly with the scenes concerning orton and halliwell and the sets (particularly of their flat with halliwell\'s murals decorating every surface) are terribly well done.'

In [27]:
import nltk
nltk.download('punkt')
nltk.download('brown')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Satish\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package brown to
[nltk_data]     C:\Users\Satish\AppData\Roaming\nltk_data...
[nltk_data]   Package brown is already up-to-date!

True

In [28]:
from textblob import TextBlob

In [29]:
text = "i csn drnk and drve"
TextBlob(text).correct().string

'i can drink and drove'

In [ ]:

from textblob import TextBlob

def spell_correct(text):
    return TextBlob(text).correct().string

reviews = reviews.copy()      # avoid SettingWithCopyWarning
reviews['review'] = reviews['review'].apply(spell_correct)

print(reviews.head())

In [4]:
import pandas as pd
data = pd.read_csv("project.csv - project.csv.csv")
data.head()

,Startup Name,Founded Year,Headquarters,Location (Locality),Sector/Industry,Total Funding (INR),Round Type,Investor/s (Proxy)
0,Agri-Boost Biotech,2021.0,Satara,Phaltan,Agri-Tech,4500000,Seed,Local Angel Group A
1,Koyna Energy Solutions,2019.0,Satara,Karad,Renewable Energy,15000000,Angel,Pune VC Fund
2,Sahyadri Gears Mfg.,2017.0,Satara,MIDC Area,Manufacturing/Engineering,55000000,Series A,Cooperative Bank Loan
3,Core De Industries,1988.0,Satara,Wai,Food Processing,25000000,Established Business,Self-Funded
4,Mahabaleshwar Berry Co.,2022.0,Satara,Mahabaleshwar,Agri-Tech/Horticulture,1500000,Seed,MSInS (Govt Scheme)

In [5]:
data.duplicated().sum()

np.int64(1216)

In [6]:
data = data.drop_duplicates()
data

,Startup Name,Founded Year,Headquarters,Location (Locality),Sector/Industry,Total Funding (INR),Round Type,Investor/s (Proxy)
0,Agri-Boost Biotech,2021.0,Satara,Phaltan,Agri-Tech,4500000,Seed,Local Angel Group A
1,Koyna Energy Solutions,2019.0,Satara,Karad,Renewable Energy,15000000,Angel,Pune VC Fund
2,Sahyadri Gears Mfg.,2017.0,Satara,MIDC Area,Manufacturing/Engineering,55000000,Series A,Cooperative Bank Loan
3,Core De Industries,1988.0,Satara,Wai,Food Processing,25000000,Established Business,Self-Funded
4,Mahabaleshwar Berry Co.,2022.0,Satara,Mahabaleshwar,Agri-Tech/Horticulture,1500000,Seed,MSInS (Govt Scheme)
...,...,...,...,...,...,...,...,...
1374,Phaltan Services,2024.0,Satara,Services,500000,Pre-Seed,Bootstrap,NaN
1375,Wai Local Trade,2022.0,Satara,Services/Retail,1500000,Seed,Local Angel Group B,NaN
1377,Lonand Real Estate,2023.0,Satara,Real Estate,4000000,Seed,Local Angel Group A,NaN
1382,Satara Health,2024.0,Satara,HealthTech,750000,Pre-Seed,MSInS (Govt Scheme),NaN
1594,**Ph,NaN,NaN,NaN,NaN,NaN,NaN,NaN