In [5]:
import pandas as pd 
import json
import requests

In [6]:
df = pd.read_json("data.json")
print(df)

   id     name
0   1   satish
1   2  shubham
2   3   sanket

In [7]:
url = "https://jsonplaceholder.typicode.com/users"
response = requests.get(url)
data = response.json()
df = pd.DataFrame(data)
print(df)

   id                      name          username                      email  \
0   1             Leanne Graham              Bret          Sincere@april.biz
1   2              Ervin Howell         Antonette          Shanna@melissa.tv
2   3          Clementine Bauch          Samantha         Nathan@yesenia.net
3   4          Patricia Lebsack          Karianne  Julianne.OConner@kory.org
4   5          Chelsey Dietrich            Kamren   Lucio_Hettinger@annie.ca
5   6      Mrs. Dennis Schulist  Leopoldo_Corkery    Karley_Dach@jasper.info
6   7           Kurtis Weissnat      Elwyn.Skiles     Telly.Hoeger@billy.biz
7   8  Nicholas Runolfsdottir V     Maxime_Nienow       Sherwood@rosamond.me
8   9           Glenna Reichert          Delphine    Chaim_McDermott@dana.io
9  10        Clementina DuBuque    Moriah.Stanton     Rey.Padberg@karina.biz

                                             address                  phone  \
0  {'street': 'Kulas Light', 'suite': 'Apt. 556',...  1-770-736-8031 x56442
1  {'street': 'Victor Plains', 'suite': 'Suite 87...    010-692-6593 x09125
2  {'street': 'Douglas Extension', 'suite': 'Suit...         1-463-123-4447
3  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...      493-170-9623 x156
4  {'street': 'Skiles Walks', 'suite': 'Suite 351...          (254)954-1289
5  {'street': 'Norberto Crossing', 'suite': 'Apt....   1-477-935-8478 x6430
6  {'street': 'Rex Trail', 'suite': 'Suite 280', ...           210.067.6132
7  {'street': 'Ellsworth Summit', 'suite': 'Suite...      586.493.6943 x140
8  {'street': 'Dayna Park', 'suite': 'Suite 449',...   (775)976-6794 x41206
9  {'street': 'Kattie Turnpike', 'suite': 'Suite ...           024-648-3804

         website                                            company
0  hildegard.org  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1  anastasia.net  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...
2    ramiro.info  {'name': 'Romaguera-Jacobson', 'catchPhrase': ...
3       kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4   demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...
5        ola.org  {'name': 'Considine-Lockman', 'catchPhrase': '...
6       elvis.io  {'name': 'Johns Group', 'catchPhrase': 'Config...
7   jacynthe.com  {'name': 'Abernathy Group', 'catchPhrase': 'Im...
8     conrad.com  {'name': 'Yost and Sons', 'catchPhrase': 'Swit...
9    ambrose.net  {'name': 'Hoeger LLC', 'catchPhrase': 'Central...

In [8]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\satish\anaconda3\lib\site-packages (9.5.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import mysql.connector

In [10]:
db = mysql.connector.connect(
    host = "localhost", 
    user = "root" , 
    password = "root", 
    database = "hostel_cgpa"
)

In [13]:
query = "select * from student"
df = pd.read_sql(query , db)
print(df)

   id  empName  dept_id
0   1   ganesh      101
1   2   Sanket      101
2   3  Swapnil      102
3   4  Vaibhav      102
4   5     Yash      103

C:\Users\Satish\AppData\Local\Temp\ipykernel_640\2051619214.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query , db)